<nav>
  <div class="container">
    <div class="toolbar">
      <div class="logo">All Product datails</div>
    </div>
  </div>
</nav>
<div class="row">
  <div class="col-lg-4">
    <div class="container">
      <div class="image-preview" (appGetZoomPosition)="onZoomImage($event)">
        <img [src]="selectedImage" alt="">
      </div>
      <div class="thumbs">
        <div class="item">
          <img src="assets/images/1.jpg" alt="" (click)="onThumbClick('1')">
        </div>
     
        <div class="item">
          <img src="assets/images/2.jpg" alt="" (click)="onThumbClick('2')">
        </div>
    
        <div class="item">
          <img src="assets/images/3.jpg" alt="" (click)="onThumbClick('3')">
        </div>
     
        <div class="item">
          <img src="assets/images/4.jpg" alt="" (click)="onThumbClick('4')">
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-8">
    <h3>Hello ...</h3>
    <app-zoom-image-viewer *ngIf="coordinates" [coordinates]="coordinates" [imageUrl]="selectedImage"></app-zoom-image-viewer>
  </div>
</div>
 





